# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
database/*.db
database/*.db-*
database/*.sqlite
database/*.sqlite-*
database/*.sqlite3

# Dados biométricos
data/faces/*
data/models/*
*.onnx

# Variáveis de ambiente
.env
.env.*

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
